.carousel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.carousel-track {
    display: flex;
    width: max-content;
    flex-shrink: 0;
    gap: 5rem;
    animation: scroll 30s linear infinite;
}

/* Pause saat kursor di atasnya */
.carousel-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        /* Geser setengah dari total lebar (karena kita duplikat isinya) */
        transform: translateX(-50%);
    }
}